body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clients{
  height: 284.69px;
  overflow-y: scroll;
}

button{
  border: none;
}

button:hover{
background-color:#808080;
transition: 0.5s;
}

.margin-top{
  margin-top: 110px;
}

.pointer{
  cursor: pointer;
}